/* GLOBAL */

body {
  font-family: "Roboto";
}

ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* REUTILIZABLE */

.cabure-contenedor__mod {
  max-width: 95%;
  margin: auto;
}

.cabure-contenedor-chico__mod{
  max-width: 85%;
  margin: auto;
}

/* BANNER */

.cabure-banner img {
  width: 100%;
}

/* NAVEGADOR */

.cabure-navegador {
  background-color: #e4e4e4;
  font-size: 14.52pt;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cabure-navegador-lista li {
  margin-right: 5%;
  display: inline-block;
  margin-top: 10px;
}

.cabure-navegador-lista li:last-child {
  margin-right: 0px;
}

.cabure-navegador-lista li a {
  color: #0095d9;
  padding: 7px 15px 21px 15px;
}
.cabure-navegador-lista li a:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #7f7f7f;
}

/* SLIDER */

.cabure-slider-img img {
  width: 100%;
}

/* NOVEDADES */

.cabure-novedades-img{
  margin: 20px;
}

.cabure-novedades-img img{
  width: 100%;
}

.cabure-novedades-card {
  background-color: #e6e7e9;
  padding: 25px 25px 10px 25px;
}

.cabure-novedades-card-img img{
  width: 100%;
}

.cabure-novedades-card-contenido h4 {
  color: #f58220;
  justify-content: center;
  font-weight: bold;
}

.cabure-novedades-card-verMas a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.cabure-novedades-card-verMas a:hover {
  color: black;
}

/* MISION, VISION, VALORES */

.cabure-mision{
  margin-top: 30px;
}

.cabure-mision-card{
  border-right: 5px solid #D1D2D4;
  
}

.cabure-mision-titulo{
  padding-top: 20px;
  text-align: center;
}

.cabure-mision-titulo img{
  max-width: 70%;
}

.cabure-mision-contenido{
  color: #818288;
  font-size: 15pt;
  padding: 20px;
}

/* HISTORIA */

.cabure-historia{
  background-color: #A6CE39;
  margin-top: 30px;
  padding: 10px 20px 50px 20px;
}

.cabure-historia-titulo{
  text-align: center;
}

.cabure-historia-titulo img{
  max-width: 90%;
}

.cabure-historia-parrafo{
  margin-top: 20px;
  color: #ffffff;
  font-size: 15pt;
}

.cabure-historia-img{
  text-align: center;
  margin-top: 20px;
}

.cabure-historia-img img{
  max-width: 100%;
}

/* AUTORIDADES Y ESTATUTOS */

.cabure-autoridades-estatutos{
  padding-top: 50px;
  background-image: url('../img/tramacolumna_der.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-bottom: 20px;
}


.cabure-autoridades{
  background-color: #F1F2F3;
  display: inline-block;
  padding-bottom: 20px;
}

.cabure-autoridades-titulo{
  background-color: #F1F2F3;
  
}

.cabure-autoridades-titulo img{
  max-height: 100%;
  padding: 20px;
  max-width: 80%;
}

.cabure-autoridades-lista{
  font-size: 16pt;
  color: #808285;
  margin-top: 40px;
  line-height: 25px;
  text-transform: uppercase;
}

.cabure-autoridades-item{
  margin-top: 20px;
}

.cabure-estatutos{
  color: #ffffff;
  font-size: 15pt;
  font-weight: bold;
}

.cabure-estatutos-titulo{
  text-align: center;
  margin-bottom: 20px;
}

.cabure-estatutos-titulo img{
  max-width: 70%;
}

.cabure-estatutos-lista li{
  padding: 0px 15px;
  margin-bottom: 10px;
}

.cabure-estatutos-verde{
  background-color: #A6CE39;
}

.cabure-estatutos-azul{
  background-color: #0095D9;
}

.cabure-estatutos-verMas{
  margin: 20px 0px;
  text-align: center;
}

.cabure-estatutos-verMas a{
  color: #0095d9;
  font-weight: bold;
  font-size: 17.5pt;
  text-transform: uppercase;
  border-bottom: 2px solid #0095d9;
}

/* FOOTER */

.cabure-footer {
  background-color: #00aff0;
  border-bottom: 15px solid #a6ce39;
  font-size: 15.4pt;
  color: white;
  padding: 20px 0px;
}

.cabure-footer-lista{
  padding: 0px;
  margin-top: 20px;
  text-align: left;
}

.cabure-footer-lista li{
  text-align: center;
  padding: 0px 15px;
  display: inline-block;
  border-right: 2px solid black;
}

.cabure-footer-lista li:last-child{
  border-right: none;
}

.cabure-footer-last{
  border-right: none;
}

.cabure-footer-lista-redes{
  text-align: right;
}

.cabure-footer-lista-redes img{
  height: 50px;
}

.cabure-footer-lista-redes li{
  display: inline-block;
}

.cabure-footer-lista-redes li:first-child img{
  height: 70px;
}

.cabure-seguinos{
  padding-right: 10px;
}
